body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}
body .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #99E2D0;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  animation: rotation 1s linear forwards;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
body header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .back-button {
  position: absolute;
  left: 17px;
}
body header .logo {
  color: #101010;
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
body .restaurant-menu-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}
body .main-container-menu {
  opacity: 0;
  margin: 0 0 -40px 0;
  padding: 0 0 40px 0;
  width: 100%;
  background-color: #F6F6F6;
  position: relative;
  top: -40px;
  border-radius: 40px 40px 0px 0px;
  animation-delay: 1s;
  animation-name: spawn;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}
@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main-container-menu .main-container-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px 40px 17px;
}
body .main-container-menu .main-container-head .restaurant-menu-name {
  max-width: 100%;
  margin: 0;
  color: #101010;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
body .main-container-menu .main-container-head .heart-block {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-container-menu .main-container-head .heart-block .fa-heart {
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
body .main-container-menu .main-container-head .heart-block .like-colored {
  display: none;
  margin-right: 24px;
}
body .main-container-menu .main-container-head .heart-block:hover {
  cursor: pointer;
}
body .main-container-menu .main-container-head .heart-block:hover .fa-heart {
  display: none;
}
body .main-container-menu .main-container-head .heart-block:hover .like-colored {
  display: flex;
}
body .main-container-menu .menu-cat {
  padding: 0 13px;
  margin-bottom: 40px;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
body .main-container-menu .menu-cat .line {
  margin: 9px 0 0 0;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}
body .main-container-menu .menu-cat .menu-cat-title {
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
body .main-container-menu .menu-cat .menu-choice-title {
  margin: 0 0 0 0;
  line-height: normal;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}
body .main-container-menu .menu-cat .menu-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 72px;
  background-color: white;
  border-radius: 15px;
  margin-top: 12px;
  text-decoration: none;
}
body .main-container-menu .menu-cat .menu-choice:hover .slide {
  animation-name: slide;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes slide {
  0% {
    width: 0px;
  }
  100% {
    width: 60px;
  }
}
body .main-container-menu .menu-cat .menu-choice .slide {
  height: 72px;
  margin: 0;
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
body .main-container-menu .menu-cat .menu-choice .main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
body .main-container-menu .menu-cat .menu-choice .main-content .menu-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .main-container-menu .menu-cat .menu-choice .main-content .menu-info .price {
  margin: 0 0 0 5px;
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
}
body .main-container-menu .menu-cat .menu-choice .main-content .menu-info .menu-choice-description {
  margin: 0;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
body .main-container-menu .mc1 {
  animation-delay: 2s;
  animation-name: spawn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main-container-menu .mc2 {
  animation-delay: 3s;
  animation-name: spawn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main-container-menu .mc3 {
  animation-delay: 4s;
  animation-name: spawn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main-container-menu .order-button-block {
  display: flex;
  justify-content: center;
}
body .main-container-menu .order-button-block .order-button {
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 186px;
  height: 50px;
  border-radius: 25px;
}
body .main-container-menu .order-button-block .order-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  cursor: pointer;
}
body footer {
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 22px 25px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
body footer .footer-logo {
  margin: 0 0 9px 0;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}
body footer .footer-link {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
body footer .footer-link .footer-icon {
  margin-right: 11px;
}

@media (min-width: 768px) {
  body {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  body header {
    max-width: 1440px;
    height: 96px;
  }
  body header .back-button {
    justify-content: flex-start;
  }
  body .main-container-menu {
    margin: 0 auto -40px auto;
    padding: 0 0 40px 0;
    max-width: 1055px;
  }
  body .main-container-menu .main-container-head {
    display: flex;
    justify-content: center;
  }
  body .main-container-menu .main-container-head .heart-block {
    margin: 0 0 0 24px;
  }
  body .main-container-menu .menu-cat {
    max-width: 634px;
    margin: 0 auto 40px auto;
  }
  body footer {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
    height: 114px;
    padding: 30px 25px;
    align-items: flex-end;
    gap: 16px;
    flex-shrink: 0;
  }
  body footer .footer-logo {
    margin: 0 16px 0 0;
  }
  body footer .footer-link1 {
    margin: 0;
    width: 192px;
    height: 19px;
  }
  body footer .footer-link2 {
    margin: 0;
    width: 168px;
  }
}/*# sourceMappingURL=stylemenu.css.map */